<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <% if current_user %>
      <h4><strong style="color: darkgray;">Signed in as <%= current_user.full_name %> (<%= link_to "Logout", session_path("current"), method: :delete %>)</strong></h4>
    <% else %>
      <%= link_to "Log In", new_session_path %> | <%= link_to "Sign Up", new_user_path %>
    <% end %>
</nav>
